* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background-color: #F9F8F3;
	
}

/* Header and Top Navigation */
.header {
	padding-top:40px;
	padding-bottom: 40px;
	background-color: #8C173A;
}

.header img {
	padding-left: 100px;

}

.topnav ul {
	font-family: 'Josefin Sans', 'Lucida Sans', 'Arial';
	float: right;
	padding-top: 20px;
	padding-right: 180px;
	display: flex;
	flex-direction: row;

}

.topnav ul li {
	display: inline-block;
	list-style-type: none;
	font-size: 18px;
	margin-left: 50px;
	color: #F9F8F3;
	
}

.topnav ul li a{
	text-decoration: none;
	color: #F9F8F3;

}

.topnav ul li a:hover{
	color: #D1D0CD;

}

.topnav ul li a:visited {
	color: #E2E1DE;	

}

/* About Me Section */
#about {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	justify-items: start;
	padding-top: 50px;
	padding-left: 50px;
}

.about-text {
	padding-bottom: 50px;
	padding-right: 120px;
	padding-left: 50px;
}

.about-text h2 {
	color: #8C173A;
	font-family: 'Josefin Sans', 'Lucida Sans', 'Arial';
	font-weight: normal;
	font-size: 45px;
	text-align: left;
	padding-top: 30px;
	padding-bottom: 40px;
}

.about-text p {
	font-size: 20px;
	font-family: 'Josefin Sans', 'Lucida Sans', 'Arial';
	color: #F26929;
	line-height: 24px;
	text-align: left;
}

.headshot {
	padding-left: 30px;
	padding-top: 10px;

}

.button {
	background-color: #F26929;
	font-family: 'Josefin Sans', 'Lucida Sans', 'Arial';
	color:#F9F8F3;
	font-size: 18px;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 20px;
	padding-bottom: 15px;
	text-align: center;
	border-radius: 50px;
	border: none;
	margin-left: 50px;
	margin-bottom: 30px;
	
}

.button:hover {
	background-color: #DD5B28;
}

.button a {
	text-decoration: none;
	color: #F9F8F3;
}

.button a:hover {
	color: #F9F8F3;
}

.button a:visited {
	color: #E2E1DE;
}

/* My Work Section */
#block{
		background-color: #C7E4E3;
		margin-top: 50px;
		margin-bottom: 20px;
		padding-left: 50px;
		padding-right: 50px;
}

#block h1 {
	color: #007D78;
	font-family: 'Josefin Sans', 'Lucida Sans', 'Arial';
	font-weight: normal;
	font-size: 45px;
	text-align: left;
	padding-top: 50px;
	padding-left: 50px;
}

.work {
	display: grid;
	grid-template-areas: "block2 block3";
	transition: box-shadow .3s;
	
}

.work div:hover {
	box-shadow: 0 0 11px rgba(29, 82, 114, 0.4);
}

.work div {
	background-color: #F9F8F3;
	border: 2px solid #007D78;
	border-radius: 8px;
	padding: 100px;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}

.work h2 {
	font-family: 'Josefin Sans', 'Lucida Sans', 'Arial';
	color: #F9F8F3;
	font-size:28px;
	font-weight: normal;
	text-shadow: 3px 6px 15px #000000;
}

.work p {
	font-family: 'Josefin Sans', 'Lucida Sans', 'Arial';
	color: #F9F8F3;
	font-size: 15px;
	text-shadow: 2px 4px 8px #000000;
}

/* Surf Report */
.block1{
	background-color: #F9F8F3;
	border: 2px solid #007D78;
	border-radius: 8px;
	padding: 200px;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
	background-image: url("../images/surf-report.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	transition: box-shadow .4s;
}

.block1:hover {
	box-shadow: 0 0 11px rgba(29, 82, 114, 0.4);
}

.block1 h2 {
	font-family: 'Josefin Sans', 'Lucida Sans', 'Arial';
	color: #F9F8F3;
	font-size: 28px;
	font-weight: normal;
	text-shadow: 3px 6px 15px #000000;
	text-align: center;
}

.block1 p {
	font-family: 'Josefin Sans', 'Lucida Sans', 'Arial';
	color: #F9F8F3;
	font-size: 15px;
	text-shadow: 2px 4px 8px #000000;
	text-align:center;
}

/* LED Wall */
.block2 {
	background-image: url("../images/led-wall.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* Calculator */
.block3 {
	background-image: url("../images/calculator.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* Pastel Puzzle */
.block4 {
	background-image: url("../images/pastel-puzzzles.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* Run Buddy */
.block5 {
	background-image: url("../images/run-buddy.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* Contact Me Section */
.contactheading h1{
	color: #F26929;
	font-family: 'Josefin Sans', 'Lucida Sans', 'Arial';
	font-weight: normal;
	font-size: 45px;
	text-align: left;
	padding-top: 30px;
	padding-left: 90px;
	padding-bottom: 40px;
}

#contact {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	
}

.contactme {
	display: flex;
	flex-direction: row;
	padding-top: -55px;
	padding-left: 90px;
	padding-right: 20px;
}

.contactme p {
	font-family: 'Josefin Sans', 'Lucida Sans', 'Arial';
	font-weight: normal;
	font-size: 18px;
	color: #8C173A;
	padding: 10px;
}

.contactme img {
	height: 50%;
}

.contactme a{
	text-decoration: none;
	color: #8C173A;
}

.contactme a:hover {
	color:#670b28;
}

.contactme a:visited {
	color: #6e122e;
}


/* Mobile Version */
@media (max-width:800px) {
	body{
		position: absolute;
		
	}
	.header {
		padding-bottom: 70px;
	}

	.topnav ul {
		margin-right: -20px;	
	}

	.header img {
		display: block;
		width: 80%;
		min-height: 30%;
		text-align: center;
	}

	#about {
		display: flex;
		flex-direction: column;
	}

	.headshot {
		margin-right: 100px;
	}

	.button {
		margin-bottom: 10px;
		margin-top: 20px;
		margin-right: 100px;
	}

	.work {
		display:flex;
		flex-direction: column;
	}

	.block1 {
		display: flex;
		flex-direction: column;
	}

	#contact {
			display: flex;
			flex-direction: column;
			}

	.contactme img {
			max-height: 30px;
			margin: 5px;
		}

	.contactme p {
			margin: 5px;
		}

}

